body {
    background-color: #f7f8fc;
    font-family: 'Arial', sans-serif;
}
.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #5e35b1;
    font-weight: bold;
}
label {
    color: #5e35b1;
}
.btn-primary, .btn-secondary {
    background-color: #5e35b1;
    border: none;
}
.btn-danger {
    background-color: #e53935;
    border: none;
}
.btn-danger:hover {
    background-color: #d32f2f;
}
.btn-primary:hover, .btn-secondary:hover {
    background-color: #4a148c;
}
.table {
    margin-top: 20px;
}
.table th {
    background-color: #5e35b1;
    color: white;
}
.fa-hospital {
    font-size: 24px;
    color: #5e35b1;
}
.icon-clinic {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: #4a148c;
}
.icon-clinic i {
    margin-bottom: 5px;
}
.custom-switch .custom-control-label::before {
    background-color: #b13535;
}
.custom-switch .custom-control-label::after {
    background-color: #5e35b1;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #4a148c;
}
.custom-control-label {
    cursor: pointer;
}
.table .custom-control-input {
    margin: auto;
}
